nav {
	position: fixed;
	width: 100%;
	z-index: 3;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		overflow: hidden;
		background-color: rgba(255, 255, 255, 0.166);
		border-bottom: 1px solid darkgray;
		li {
			border-top: 1px solid darkgray;
		}
		li a {
			text-align: center;
			display: block;
			padding: 20px 20px;
			text-decoration: none;
		}
	}
	.logo {
		display: block;
		float: left;
		font-size: 2em;
		padding: 10px 20px;
		text-decoration: none;
	}
	.menu {
		clear: both;
		max-height: 0;
		transition: max-height .2s ease-out;
	}
	/* menu icon */
	.menu-icon {
		cursor: pointer;
		float: right;
		padding: 28px 20px;
		position: relative;
		user-select: none;
		.navicon {
			background: #fff;
			display: block;
			height: 2px;
			position: relative;
			transition: background .2s ease-out;
			width: 18px;
		}
		.navicon:before,
		.navicon:after {
			background: #fff;
			content: '';
			display: block;
			height: 100%;
			position: absolute;
			transition: all .2s ease-out;
			width: 100%;
		}
		.navicon:before {
			top: 5px;
		}
		.navicon:after {
			top: -5px;
		}
	}

	.menu-btn {
		display: none;
	}
	.menu-btn:checked ~ .menu {
		max-height: 240px;
	}
	.menu-btn:checked ~ .menu-icon .navicon {
		background: transparent;
	}
	.menu-btn:checked ~ .menu-icon .navicon:before {
		transform: rotate(-45deg);
	}
	.menu-btn:checked ~ .menu-icon .navicon:after {
		transform: rotate(45deg);
	}
	.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
	.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
		top: 0;
	}
}

/* 48em = 768px */

@media (min-width: 48em) {
	nav {
		ul {
			border: none;
			background-color: transparent;
		}
		li {
			float: left;
			a {
				padding: 20px 30px;
			}
		}
		.menu {
			clear: none;
			float: right;
			max-height: none;
		}
		.menu-icon {
			display: none;
		}
	}
}
