.main-footer {
	@include for-mobile-layout{
		height: rem(240px);
		text-align: left;
	}
	height: rem(440px);
	text-align: center;
	.footer-content {
		img {
			max-width: rem(104px);
			height: rem(40px);
			margin: 0 auto;
			@include for-mobile-layout {
				margin: unset;
			}
		}
		p {
			@include for-mobile-layout {
				margin-top: 0;
			}
			font-size: rem(14px);
			line-height: 28px;
			letter-spacing: 2px;
		}
	}
}
