@font-face {
	font-family: spartan;
	src: url(../../fonts/Spartan-Regular.ttf);
}
@font-face {
	font-family: spartan-bold;
	src: url(../../fonts/Spartan-Bold.ttf);
}
@font-face {
	font-family: 'spartan-light';
	src: url(../../fonts/Spartan-Light.ttf);
}
@font-face {
	font-family: spartan-semibold;
	src: url(../../fonts/Spartan-SemiBold.ttf);
}
